* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: #426696;
	font-weight: 600;
	font-size: 2em;
	opacity: 0.8;
}

h2, p {
	color: #658ec6;
	font-weight: 500;
	opacity: 0.8;
	font-size: 1em;
}

h3 {
	color: #426696;
	font-weight: 600;
	opacity: 0.8;
}

main {
	font-family: "Poppins", sans-serif;
	height: 100vh;
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	display: flex;
	align-items: center;
	justify-content: center;
}

.glass {
	background: white;
	height: 552px;
	width: 864px; /*60%*/
	background: linear-gradient(
		to right bottom, 
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
	z-index: 3;
	backdrop-filter: blur(2rem);
}

.circle1, .circle2 {
	background: white;
	background: linear-gradient(
		to right bottom, 
		rgba(255, 255, 255, 0.9),
		rgba(255, 255, 255, 0.3)
	);
	height: 10rem;
	width: 10rem;
	position: absolute;
	border-radius: 50%;
}

.circle1 {
	top: 5%;
	right: 15%;
}

.circle2 {
	bottom: 5%;
	left: 12%;
}

/* Dashoard */

.dashboard {
	background: linear-gradient(
		to right bottom, 
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	width: 25%;
	height: 100%;
	border-radius: 2rem;
	float: left;
	position: relative;
}

.user {
	width: 100%;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.links {
	width: 58%;
	margin: auto;
}

.link {
	list-style-type: none;
	padding: 1.2rem 0rem;
}

.link img {
	vertical-align: middle;
	margin-right: 0.5rem;
}

.link a {
	text-decoration: none;
	color: #658ec6;
	font-weight: 500;
	opacity: 0.8;
	font-size: 1em;
}



.pro {
	margin: auto;
	vertical-align: middle;
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	border-radius: 1.5rem;
	color: white;
	padding: 1rem;
	position: relative;
	width: 80%;
	font-size: 0.9rem;
	position: absolute;
	bottom: 4%;
	left: 10%;
}

.pro img {
	position: absolute;
	top: -10%;
	right: 10%;
	max-height: 105px;
	max-width: 97px;
}


.pro h2 {
	width: 40%;
	color: white;
	font-weight: 600;
	line-height: 20px;
}


/* Games */

.games {
	float: left;
	width: 75%;
	height: 100%;
}

.status {
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	margin-bottom: 1rem;
}

.status input {
	background: linear-gradient(
		to right bottom, 
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	width: 80%;
	border: 2px;
	border-radius: 2rem;
	padding: 0.1rem;
}


.cards {
	height: 77%;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	overflow: scroll;
	border-radius: 1rem;
}

.card {
	background: linear-gradient(to left top,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.4)
	);
	border-radius: 1.5rem;
	margin: 2rem 0rem;
	padding: 1.5rem;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
	overflow: auto;
}



.card-info {
	float: left;
	margin-left: 1rem;
}

.card-info h2 {
	font-size: 1.3rem;
	font-weight: 600;
}

.card img {
	max-width: 84px;
	max-height: 84px;
	float: left;
}


.percentage {
	float: right;
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user img {
	max-height: 80px;
	max-width: 80px;
}

.link img {
	max-width: 27px;
	max-height: 27px;
}


a:hover {
	font-weight: 800;
	opacity: 1;
}


