* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 576px) {
	.container {
		width: 93%;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-links-unten li a {
		font-size: 10px;
	}
	.footer-links-unten{
		display: none;
	}
}

nav {
	background-color: #152461;
	height: 100px;
	z-index: 1000;
}

.smallnavbar {
	height: 60px;
	padding-top: 0px;
	margin-top: 0px;
	box-shadow: 0px 1px 25px black;
	transition: 0.3s ease-in;
}

.bignavbar {
	height: 100px;
	padding-top: 0px;
	margin-top: 0px;
	transition: 0.2s ease-in;
}

.navbar-brand {
	font-family: 'Playfair Display', serif;
	float: left;
	/*align-self: center;*/
	color: white;
	font-size: 33px;
}

.nav-list {
	padding-top: 23px;
	float: right;
	text-align: center;
}
.nav-items {
	float: left;
	padding: 0px 15px 0px 15px;
}

.nav-items a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 250;
}

.nav-items a:hover {
	text-decoration: underline;
}

.nav-items {
	list-style-type: none;
}

.burger-button {
	display: none;
	float: right;
	margin-top: 12px;
	cursor: pointer;
}

.burger-button div {
	width: 25px;
	height: 3px;
	background-color: white;
	opacity: 0.8;
	margin: 5px;
	border-radius: 1px;
}


@media screen and (max-width: 992px) {

	.nav-list {
		position: fixed;
		right: 0px;
		height: 0vh;
		top: 60px;
		background: #152461;
		width: 100%;
		/*transform: translate(100%);*/
		transition: 0.4s ease-in;
		overflow: hidden;
		z-index: 1;
		height: 0px;
		opacity: 0;
		text-align: center;
	}
	.nav-list li a {
		opacity: 0.8;
		font-size: 18px;
	}
	.burger-button {
		display: block;
	}

	.text-home-page-2, .h2-home-page-2 {
		text-align: center;
	}


	#M_e_button {
		width: 100%;
	}

	.button-home-page-2 {
		margin-right: auto;
		margin-left: auto;
		width: 75%;
	}

	.img-1 {
		margin-top: 30px;
	}
	#footer3element{
		margin-top: 25px;
	}
	
	
}

.nav-active {
	/*transform: translate(0%);*/
	/*width: 100%;*/
	display: grid;
	height: 100vh;
	opacity: 1;
}

.toggle .line1 {
	transform: rotate(-45deg)translate(-5px,6px);
	transition: 0.3s ease-in;
}
.toggle .line2 {
	opacity: 0;
	transition: 0.2s ease-in;
}

.toggle .line3 {
	transform:rotate(45deg)translate(-5px,-6px);
	transition: 0.3s ease-in;

}

.home-page-1 {
	height: 100vh;
}

.home-page-2 {
}

#M_e_button {
	margin-top: 30px;
	background-color: white;
	border: 3px solid #152461;
	border-radius: 20px;
	color: #152461;
}

#M_e_button:hover {
	background-color: #152461;
	color: white;
}


.home-page-3 {
	margin-top: 30vh;
	height: 50vh;
}

.footer{
	background-color: #152461;
	color: whitesmoke;
	padding-top: 17px;
}


.footer li{
	text-decoration: none;
	list-style-type: none;
	color: white;
}

.footer-h3{
	font-size: 18px;
	font-family: 'Playfair Display', serif;
}
.footer-links-items a{
	color: whitesmoke;
	list-style-type: none;
	text-decoration: none;
	font-size: 12px;

}

.footer-links-items a:hover{
	text-decoration: underline;
}
.footer-links{
	padding: 0px;
}

.footer-links-unten{
	margin-left: auto;
	margin-right: auto;
	width: 679px;
}
