* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
}

.navbar {
	background-color: darkred;
	position: fixed;
	width: 100%;
}



.navbar-brand div {
	font-size: 25px;
	color: white;
}

.nav-link {
	color: white;
}



.smallnavbar {
	height: 70px;
	box-shadow: 0px 1px 25px black;
	transition: 0.3s ease-in;
}

.bignavbar {
	height: 100px;
	padding-top: 10px;
	transition: 0.2s ease-in;
}





.burger-button {
	display: none;
	float: left;
	margin-top: 20px;
	cursor: pointer;
}

.burger-button div {
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 5px;
	border-radius: 1px;
}



@media screen and (max-width: 768px) {
/*	body {
		overflow-x: hidden;
	}*/
	#nav-links {
		position: fixed;
		right: 0px;
		height: 0vh;
		top: 68px;
		background: linear-gradient(to left bottom, 
		rgba(25, 126, 255, 1),
		rgba(25, 126, 255, 1)
		);
		display: flex;
		flex-direction: column;
		align-items: center;	
		justify-content: space-evenly;
		width: 100%;
		/*transform: translate(100%);*/
		transition: 0.4s ease-in;
		overflow: hidden;
		z-index: 1;
	}
	#nav-links li a {
		opacity: 0.8;
		font-size: 18px;
	}
	.burger-button {
		display: block;
	}
}

.nav-active {
	/*transform: translate(0%);*/
	/*width: 100%;*/
	height: 90vh;
}

.toggle .line1 {
	transform: rotate(-45deg)translate(-5px,6px);
	transition: 0.3s ease-in;
}
.toggle .line2 {
	opacity: 0;
	transition: 0.2s ease-in;
}

.toggle .line3 {
	transform:rotate(45deg)translate(-5px,-6px);
	transition: 0.3s ease-in;

}
