* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navigation-itmes {
	text-decoration: none;
	display: flex;
	justify-content: center;


}

.nav {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.navigation-bar {
	width: 100%;
	text-align: center;
	height: 4rem;
	background-color: #f0ede4;
	padding-top: 12px;
	border-radius: 1rem;


}

.apps {
	float: left;
	padding: 3px;
	list-style-type: none;
	width: 8.33%;

}