* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	width: 1245px;
	height: 691px;
	margin-left: auto;
	margin-right: auto;
	/*height: 100vh;
	width: 100%;*/
	font-family: 'Lato', sans-serif;
	overflow: hidden;
	position: relative;
	border: 1px solid black;
	border-radius: 7px;
}

ul li {
	text-decoration: none;
	list-style-type: none;
}

.navigation-bar {
	width: 100%;
	text-align: center;
	height: 3.7rem;
	background-color: white;
	padding-top: 0px;
	position: absolute;
	bottom: 13px;
	left: 0px;
	overflow: hidden;
}

.apps {
	float: left;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	margin-top: 13px;
	width: 8.33%;

}

.apps button {
	background-color: white;
	border: none;
	cursor: pointer;

}

.hidden {
	display: none;
}


img {
	width: 60px;
	height: 53px;
}


#temperature {
	font-family: 'Nunito', sans-serif;
	font-size: 28px;
	font-style: bold;
	font-weight: 700;
	color: black;
	margin-top: 5px;
}



.map {
	float: left;
	width: 65%;
	height: 92%;
}

iframe {
	/*width: 950px;*/
	width: 100%;
	height: 100%;
}

.main-apps {
	width: 65.1%;
	height: 89.8%;
	background-color: #f5f5f5;
	position: absolute;
	top: 0px;
	left: 35%;
}


.settings-app {
	background-color: #fafafa;
	width: 100%;
	height: 100%;

}

.settings-nav {
	float: left;
	width: 25%;
	height: 100%;
	
}

.settings-nav img {
	border: none;
	width: 35px;
	height: 33px;
	margin-top: 3px;
	padding-top: 2px;
}

#close-botton {
	border: none;
	width: 36px;
	height: 36px;
	border-radius: 50vh;
	background-color: #fafafa;
}


.settings-container {
	padding-top: 15px;
	padding-left: 13px;
}

.settings-part {

}

.settings-part img {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 5px;
}

.settings-text {
	float: left;
	margin-top: 5px;
	font-family: 'Lato', sans-serif;
	font-style: bold;
	font-size: 18px;
}

.settings-button {
	height: 30px;
	display: flex;
	overflow: hidden;
	margin-top: 19px;
	border: none;
	width: 91%;
	border-radius: 6px;
	background-color: #fafafa;
}

.settings-content {
	float: left;
	width: 75%;
	height: 100%;
	background-color: white;
}

#settings-title {
	background-color: #f5f5f5;
	width: 100%;
	height: 58px;
	font-size: 18px;
	font-weight: 600;
	padding: 15px;
}

.dashboard {
	background-color: white;
	width: 35%;
	height: 100%;
	float: left;
}


.container {
	width: 93%;
	height: 93%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;
}

.speed {
	font-size: 48px;
	font-style: bold;
	font-weight: 500;
	width: 100px;
	float: left;
}

#kmh {
	font-size: 14px;
	margin-top: 0px;
	position: relative;
	bottom: 14px;
	left: 30px;
}

.visulation {
	clear: both;
	background-color: white;
	width: 100%;
	height: 79%;
	position: relative;
}


.avatar {
	margin-top: 10px;
}

.avatar img {
	width: 100%;
	height: 55%;
}

.avatar-cards {
	margin-top: 69px;
}

.cards {
	width: 374px;
	height: 175px;
	background-color: white;
	position: absolute;
	bottom: 5px;
	left: 17px;
	border-radius: 1.5rem;
	border: 1px solid black;
}

button {
	cursor: pointer;
}


